{% extends "_base_pages.html" %}
{% load static %}
{% load jformat %}
{% load post_tags %}

{% block title %}لیست مقالات{% endblock title %}

{% block body %}
        <!-- Start main-content -->
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">
                <div class="row mt-5 pt-5">
                    <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-3">
                        <div class="row">
                            {% for post in posts %}
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="post-card">
                                    <div class="post-thumbnail">
                                        <a href="{% url "posts:post_detail" post.slug %}">
                                            <img src="{{ post.cover.url }}" alt="">
                                        </a>
                                        <span class="post-tag">مقاله</span>

                                    </div>
                                    <div class="post-title">
                                        <a href="{% url "posts:post_detail" post.slug %}">
                                            {{ post.title }}
                                        </a>
                                        <span class="post-date">
                                            {{ post.datetime_created.date }}
                                            <br>
                                            {% comment %} چهارشنبه، 18 دی 1398 {% endcomment %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p class="alert alert-danger" style="margin: auto; font-size:20px;">مقاله ای یافت نشد</p>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a href="?page={{ page_obj.previous_page_number }}" class="prev"><i
                                                    class="mdi mdi-chevron-double-right"></i></a>
                                        {% endif %}

                                        {% for i in page_obj.paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <a href="#" class="active-page">{{ i }}</a>
                                            {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}
                                                <a href="?page={{ i }}" class="">{{ i }}</a>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                                            <a href="#">&hellip;</a>
                                            {# <a href="?page={{ i }}">{{ i }}</a> #}
                                            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                                        {% endif %}
                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}" class="next">
                                                <i class="mdi mdi-chevron-double-left"></i>
                                            </a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-3 sidebar sticky-sidebar">
                        <div class="widget-posts dt-sn dt-sl mb-3 border-bottom">
                            <div class="title-sidebar dt-sl mb-3">
                                <h3>جدیدترین نوشته ها</h3>
                            </div>
                            {% latest_posts %}
                        </div>
                        <div class="dt-sn dt-sl border-bottom mb-3">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                                <h2>دسته ها</h2>
                            </div>
                            {% category_list %}
                        </div>
                        <div class="dt-sn dt-sl border-bottom">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                                <h2>برچسبها</h2>
                            </div>
                            {% tag_list %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End main-content -->
{% endblock body %}